.li {
  list-style: none;
  border-radius: 10px;
  background-color: deepskyblue;
  height: 8%;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 1px;
  padding-right: 1px;
  margin: 2px;
}
